<%- contentFor('body') %>
<div class="container">
    <div class="pageCart">
    
        <!-- cart section end -->
        <section class="cart-section spad">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="cart-table">
                            <h3>Productos Comprados por <%=user_bought.name%></h3>
                            <div class="cart-table-warp">
                                <table>
                                <thead>
                                    <tr>
                                        <th class="product-th">Produtos</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for (let i=0;i<buy.length;i++){%>
                                    <tr>
                                        <td class="product-col">
                                            <img src="/img/product/<%=buy[i].images%>" alt="">
                                            <div class="pc-title">
                                                <h4><%= buy[i].title %></h4>
                                                <p></p>
                                            </div>
                                        </td>
                                    </tr>
                                    <%}%>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- cart section end -->
    </div>
</div>